* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-title-border-color: #746615;
  --card-color-primary: #f7dd43;
  --card-bg-color: #1d1c19;
  --bg: url(./assets/bg-yellow.svg);
  font-size: 62.5%;
}

body.blue {
  --card-title-border-color: #338af3;
  --card-color-primary: #338af3;
  --card-bg-color: #202024;
  --bg: url(./assets/bg-blue.svg);
}

body.green {
  --card-title-border-color: #047c3f;
  --card-color-primary: #047c3f;
  --card-bg-color: #1a1f1b;
  --bg: url(./assets/bg-green.svg);
}
body.red {
  --card-title-border-color: #ff0202;
  --card-color-primary: #de4040;
  --card-bg-color: #582222;
  --bg: url(./assets/bg-red.svg);
}

body {
  background-color: #211214;
  background-image: var(--bg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.6rem;
}

body * {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 5.2rem;
}

header {
  margin-bottom: 6.3rem;
  text-align: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.card {
  padding: 3.2rem 2.3rem;
  text-align: center;

  background: var(--card-bg-color);
  border-bottom: 0.2rem solid var(--card-color-primary);
  border-radius: 0.6rem;
}

.card h2 {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  align-items: center;

  padding: 0.8rem 1.6rem;
  border: 1px solid var(--card-title-border-color);
  border-radius: 0.6rem;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 5.3rem;

  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  width: 27rem;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 2.4rem;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 125%;

  color: #e1e1e6;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card {
  animation: appear 0.8s;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 70rem) {
  #cards {
    max-width: 67rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
